@page
@model ChatAPI.Pages.IndexModel
@{
    Layout = "_Layout";
}

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="create.html">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="chatroom.html">Chat Room</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" id="logOut">Logout</a>
    </li>
</ul>
<div class="row" id="connectionMessage" style="display: none;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div role="alert">
 
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2>Chat Room</h2>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" id="txtMessage" placeholder="Mesajınızı giriniz." rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="btnSendMessage">Send Message</button>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-6" id="divMessage">
 
    </div>
    <div class="col-md-3"></div>
</div>
